*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
  }



body{
    background-color: rgb(43, 65, 87);
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}


.secc{
    color: #fff;
    width: 100%;
    height: 400vh;

}

.secc h1{
    font-size: 80px;
    font-weight: 600;
    padding-bottom: 50px;
    padding-top: 200px;
    display: flex;
    justify-content: center;

}
.secc h2{
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: left;
    padding: 50px 100px;
}

.secc p{
    font-size: 20px;
    line-height: 1.5;
    padding: 0px 100px;
    display: flex;
    justify-content: left;
}


.secc li{
    font-size: 20px;
    padding: 20px 100px;
}

.secc ul{
    list-style: none;
    padding: 0px 0px;

}

.secc ul p{
    font-size: 20px;
    line-height: 1.5;
    padding: 0px 0px;
    display: flex;
    justify-content: left;
}


.secc table{
    width: 88%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}
.secc th, .secc td{
    text-align: center;
    padding: 16px;
    border: 1px solid #ddd;
}

.secc3{
text-align: left;
padding: 0px 200px;
}

.secc3 h3{
    font-size: 30px;
    font-weight: 600;
}

.secc3 p{
    font-size: 20px;
    line-height: 1.5;
    padding: 0px 50px;
    margin: 30px;
    display: flex;
}

table.selable{
        margin: auto;
}

.portal{
    height: 100vh;
}
.discord-family{
    width: 100%;
    height: 100vh;
}
nav{
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/*QuickReset*/ * { margin: 0; box-sizing: border-box; }



body{
    min-height: 300vh; /* demo scrollbars */
  }
  
#navbar {
    position: fixed;
    width: 100%;
    height: auto;
    -webkit-transition: top 0.2s;
    transition: top 0.2s;
  }
  
  

.nav-links{
    flex: 1;
    text-align: center;
    
}
.nav-links ul{
    display: inline-block;
    list-style: none;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    font-size: 25px;
    position: relative;
    
}
.nav-links ul li a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 6px 70px;
    text-decoration: none;
}

.nav-links ul li a:hover{
    color: #fff;
    transition: 0.5s;
}
.content {
    padding: 16px;
  }
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }

.lang-switch-plat{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    display: none;
}
.content{
    text-align: center;
    line-height: 1.5;

}
.content h1{
    font-size: 100px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding-top: 150px;
    padding-bottom: 50px;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 60;

}
.content a:hover{
    border: 2px solid #fff;
    background-color: hsl(19, 36%, 53%);
    transition: 1s;
}
.container{
    background-color: rgb(43, 65, 87);
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav .fa-solid{
    display: none;
}

.intro{
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 100px;

}

.intro h1{
    font-size: 100px;
    font-weight: 600;
    padding-bottom: 50px;
    padding-top: 200px;

}
.intro p{
    font-size: 30px;
    line-height: 1.5;
}
.intro{
    width: 80%;
    height: 100vh;

}
.intro-col{
    flex-basis: 31%;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
}

.portal h1{
    font-size: 50px;
    font-weight: 600;
    padding: 100px 30px;
    margin: 50px;
}
.portal h3{
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0px;
}

.row{
    margin-top: 5%;
    justify-content: space-between;
    display: flex;
    padding: 0 10%;

}
.portal-col{
    flex-basis: 31%;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
}

.discord-family{
    text-align: center;
    padding: 100px 0px;
}
.discord-family h1{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 50px;
}


ul.drop-down-menu {
    display: inline-block;
    font-family: 'Open Sans', Arial, sans-serif;
    
}

ul.drop-down-menu li {
    position: relative;
}

ul.ftsz li {
    font-size: 16px;
}

ul.drop-down-menu > li:last-child {
    border-right: none;
}

ul.drop-down-menu > li {
    float: left; /* 只有第一層是靠左對齊*/
}

 ul.drop-down-menu a {
    color: #333;
    display: block;
    text-decoration: none;
    line-height: 35px;
    padding: 0 15px;

}
ul.drop-down-menu a:hover { /* 滑鼠滑入按鈕變色*/
    color: #000;
    background-color: #ef5c28; 
}

ul.drop-down-menu ul li a:hover { /* 滑鼠滑入次選單變色*/
    background-color: #ef5c28;
    width: 410px;
    min-width: fit-content;
    text-align: left;
    padding-left: 90px;
}

ul.drop-down-menu ul {
    background-color: rgba(0, 0, 0, 0.2);;
    border-bottom: 5px solid #ef5c28;
    border-right: 5px solid #ef5c28;
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
    min-width: 390px;
    width: 100%;
}

ul.drop-down-menu ul li {
    border-right: none;
    display: inline-block;
    width: 100%;
    
}

ul.drop-down-menu ul li:last-child {
    border-bottom: none;
}

ul.drop-down-menu ul { /*隱藏次選單*/
    left: 99999px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

ul.drop-down-menu li:hover > ul { /* 滑鼠滑入展開次選單*/
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 0.5s;
    left: -1px;
    border-right: 5px;
    
}



@media(max-width: 700px){
    .nav-links ul li{
        display: block;
        padding: 40px;
    }
    .content h1{
        font-size: 70px;
    }
    .content a{
        font-size: 20px;
        padding: 10px 30px;
    }
    .nav-links{
        position: absolute;
        height: 100vh;
        background: #8f9cb4;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 1;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        font-size: 20px;
        margin: 10px;
        cursor: pointer;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        font-size: 20px;
        margin: 10px;
        cursor: pointer;
    }
    .nav-links ul li a{
        padding: 10px 30px;
    }

    nav .fa-solid:hover{
        color: #000;
    }

    .portal{
        height: 50vh;
    }
    .portal h1{
        font-size: 30px;
        padding: 0px 0px;
    }
    .portal h3{
        font-size: 20px;
        padding: 10px 0px;
    }
    .row{
        flex-direction: column;
    }
    .portal-col{
        flex-basis: 100%;
    }
    .intro{
        width: 80%;
        height: 150vh;
    }
    .intro h1{
        font-size: 70px;
        padding-bottom: 50px;
        padding-top: 200px;
    }
    .intro p{
        font-size: 20px;
    }
    .intro-col{
        flex-basis: 100%;
    }
    .see{
        font-size: 30px;
        padding: 500px 30px;
    }
    .us{
        font-size: 30px;
        padding: 100px 30px;
    }
    .group-link{
        font-size: 30px;
        padding:  20px 30px 300px 30px;
    }
}